.main-page {
  display: flex;
  padding: 6rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
}

.city-heading {
  font-size: 2rem;
  font-family: 'MonaSpace Neon Bold', monospace;
}

.card-header {
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 2px;
  gap: 0.2rem;
}

.card-details {
  position: relative;
  left: 2px;
  font-size: 1.6rem;
  font-weight: 600;
}

.temperature-main {
  text-align: center;
  font-size: 10rem;
  font-weight: 500;
}

.general-conditions {
  font-size: 1.2rem;
  font-weight: 400;
}

.current-conditions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.weatherdata {
  font-weight: 700;
  font-size: 1.1rem;
}
