.search-container {
  padding: 6rem 1.5rem;
  font-family: 'Inter Tight', sans-serif;
}

.header {
  font-size: 2rem;
  font-family: 'MonaSpace Neon Bold', monospace;
}

.details {
  padding: 1rem 0;
}

.list {
  padding: 0.5rem 0;
}
